<a href="https://colab.research.google.com/github/aprilrain731/20230210-python/blob/main/20230305.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 20230305筆記

In [6]:
import numpy as np
import pandas as pd

## 準備資料

In [7]:
grades = np.random.randint(30, 101, (10, 4))

In [8]:
df = pd.DataFrame(grades)

In [9]:
df.columns = ['國文','英文','數學','理化']

In [10]:
df.index = ["郭雅惠","陳欣虹","王孟修","李政勇","陳仲燦",
            "王寧東","楊雅名","藍冰啟","林玉亨","崔承睿"]

In [11]:
df

     國文  英文  數學  理化
郭雅惠  40  31  67  86
陳欣虹  84  44  72  50
王孟修  67  40  72  59
李政勇  72  84  95  64
陳仲燦  85  47  77  54
王寧東  68  47  37  87
楊雅名  93  73  81  95
藍冰啟  66  73  39  31
林玉亨  87  31  59  88
崔承睿  62  91  85  61

## 讀取特定欄位

### 讀取所有人的國文成績 (單一個欄位)

In [12]:
df['國文']

郭雅惠    40
陳欣虹    84
王孟修    67
李政勇    72
陳仲燦    85
王寧東    68
楊雅名    93
藍冰啟    66
林玉亨    87
崔承睿    62
Name: 國文, dtype: int64

In [13]:
type(df['國文'])

pandas.core.series.Series

### 同時讀取多個欄位 (使用list) (e.g.,讀取國文及英文成績)

In [16]:
df[['國文','英文']]

     國文  英文
郭雅惠  40  31
陳欣虹  84  44
王孟修  67  40
李政勇  72  84
陳仲燦  85  47
王寧東  68  47
楊雅名  93  73
藍冰啟  66  73
林玉亨  87  31
崔承睿  62  91

In [18]:
df[['國文']]

     國文
郭雅惠  40
陳欣虹  84
王孟修  67
李政勇  72
陳仲燦  85
王寧東  68
楊雅名  93
藍冰啟  66
林玉亨  87
崔承睿  62

In [19]:
type(df[['國文']])

pandas.core.frame.DataFrame

## 讀取單一列資料

In [20]:
df['郭雅惠']

KeyError: ignored

### 使用.loc()及.iloc() : 為DataFrame讀去index的主要方法

In [21]:
df.loc['郭雅惠']

國文    40
英文    31
數學    67
理化    86
Name: 郭雅惠, dtype: int64

In [22]:
df.iloc[0]

國文    40
英文    31
數學    67
理化    86
Name: 郭雅惠, dtype: int64

### 一次讀取多列資料

In [24]:
df.loc['郭雅惠':'李政勇']

     國文  英文  數學  理化
郭雅惠  40  31  67  86
陳欣虹  84  44  72  50
王孟修  67  40  72  59
李政勇  72  84  95  64

In [25]:
df.loc[['郭雅惠','李政勇']]

     國文  英文  數學  理化
郭雅惠  40  31  67  86
李政勇  72  84  95  64