<a href="https://colab.research.google.com/github/aprilrain731/20230210-python/blob/main/20230304.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 20230304筆記

# 抓取網頁原始碼

In [1]:
import requests

In [2]:
url='https://victorgau.github.io/khpy_web_intro/html_only.html'

In [3]:
r = requests.get(url)

In [4]:
print(r.text)

<!DOCTYPE html>
<html>
<head>
    <title>HTML範例</title>
</head>
<body>

<h1>哈囉！HTML！</h1>

<img src="ninja.jpg" />

</body>
</html>

## 抓取Ajax網頁資料

### 從非Ajax網站的網頁上，可以直接看到資料

In [17]:
url = 'https://victorgau.github.io/khpy_web_intro/spy.html'

In [18]:
r = requests.get(url)

In [19]:
print(r.text)

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>HTML範例</title>
</head>
<body>
  <div class="container">
    <h1>SPY股價</h1>
  </div>
    <div class="container">
<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Adj Close</th>
      <th>Volume</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2021-07-26</th>
      <td>439.309998</td>
      <td>441.029999</td>
      <td>439.260010</td>
      <td>441.019989</td>
      <td>441.019989</td>
      <td>43719200</td>
    </tr>
    <tr>
      <th>2021-07-27</th>
      <td>439.910004</td>
      <td>439.940002</td>
      <td>435.989990</td>
      <td>439.010010</td>
      <td>439.010010</td>
      <td>67397100</td>
    </tr>
    <tr>
      <th>2021-07-28</th>
      <td>439.679993</td>
      <td>440.299988</td>
      <td>437.309998</td>
      <td>438.829987</td>
      <td>438.829987</td>
      <td>52472400</td>
    </tr>
    <tr>
      <th>2021-07-29</th>
      <td>439.820007</td>
      <td>441.799988</td>
      <td>439.809998</td>
      <td>440.649994</td>
      <td>440.649994</td>
      <td>47435300</td>
    </tr>
    <tr>
      <th>2021-07-30</th>
      <td>437.910004</td>
      <td>440.059998</td>
      <td>437.769989</td>
      <td>438.510010</td>
      <td>438.510010</td>
      <td>68890600</td>
    </tr>
    <tr>
      <th>2021-08-02</th>
      <td>440.339996</td>
      <td>440.929993</td>
      <td>437.209991</td>
      <td>437.589996</td>
      <td>437.589996</td>
      <td>58783300</td>
    </tr>
    <tr>
      <th>2021-08-03</th>
      <td>438.440002</td>
      <td>441.279999</td>
      <td>436.100006</td>
      <td>441.149994</td>
      <td>441.149994</td>
      <td>58053900</td>
    </tr>
    <tr>
      <th>2021-08-04</th>
      <td>439.779999</td>
      <td>441.119995</td>
      <td>438.730011</td>
      <td>438.980011</td>
      <td>438.980011</td>
      <td>46732200</td>
    </tr>
    <tr>
      <th>2021-08-05</th>
      <td>440.220001</td>
      <td>441.850006</td>
      <td>439.880005</td>
      <td>441.760010</td>
      <td>441.760010</td>
      <td>38969700</td>
    </tr>
    <tr>
      <th>2021-08-06</th>
      <td>442.100006</td>
      <td>442.940002</td>
      <td>441.799988</td>
      <td>442.489990</td>
      <td>442.489990</td>
      <td>46864100</td>
    </tr>
  </tbody>
</table>

</div>
</body>
</html>

In [20]:
import pandas as pd

In [21]:
dfs = pd.read_html(url)

In [22]:
dfs[0]

,Unnamed: 0_level_0,Open,High,Low,Close,Adj Close,Volume
,Date,Unnamed: 1_level_1,Unnamed: 2_level_1,Unnamed: 3_level_1,Unnamed: 4_level_1,Unnamed: 5_level_1,Unnamed: 6_level_1
0,2021-07-26,439.309998,441.029999,439.260010,441.019989,441.019989,43719200
1,2021-07-27,439.910004,439.940002,435.989990,439.010010,439.010010,67397100
2,2021-07-28,439.679993,440.299988,437.309998,438.829987,438.829987,52472400
3,2021-07-29,439.820007,441.799988,439.809998,440.649994,440.649994,47435300
4,2021-07-30,437.910004,440.059998,437.769989,438.510010,438.510010,68890600
5,2021-08-02,440.339996,440.929993,437.209991,437.589996,437.589996,58783300
6,2021-08-03,438.440002,441.279999,436.100006,441.149994,441.149994,58053900
7,2021-08-04,439.779999,441.119995,438.730011,438.980011,438.980011,46732200
8,2021-08-05,440.220001,441.850006,439.880005,441.760010,441.760010,38969700
9,2021-08-06,442.100006,442.940002,441.799988,442.489990,442.489990,46864100

### 從Ajax網頁上，可能看不到資料

In [23]:
url = 'https://victorgau.github.io/khpy_web_intro/spy_ajax.html'

In [24]:
r = requests.get(url)

In [25]:
print(r.text)

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>AJAX範例</title>
</head>
<body>
  <div class="container">
    <h1>SPY股價</h1>
  </div>
  <div class="container">
    <table border="1" class="dataframe table table-striped">
        <thead>
          <tr style="text-align: right;">
            <th></th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
            <th>Adj Close</th>
            <th>Volume</th>
          </tr>
          <tr>
            <th>Date</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody id="spy">

        </tbody>
    </table>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
        $.ajax({
            url: "spy.json",
            dataType: 'json',
            type: 'get',
            cache:false,
            success: function(data){
                // console.log(data);
                var event_data = '';
                $.each(data, function(index, value){
                    // console.log(value);
                    event_data += '<tr>';
                    event_data += '<th>'+value.Date+'</th>';
                    event_data += '<td>'+value.Open+'</td>';
                    event_data += '<td>'+value.High+'</td>';
                    event_data += '<td>'+value.Low+'</td>';
                    event_data += '<td>'+value.Close+'</td>';
                    event_data += '<td>'+value['Adj Close']+'</td>';
                    event_data += '<td>'+value.Volume+'</td>';
                    event_data += '</tr>';
                });
                $("#spy").append(event_data);
            },
            error: function(d){
                // console.log("error");
                alert("404. Please wait until the File is Loaded.");
            }
        });
    });
    </script>


</body>
</html>

In [36]:
url = "https://victorgau.github.io/khpy_web_intro/spy.json"

In [38]:
data = requests.get(url).json()

In [41]:
df = pd.read_json(url)

In [42]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-07-26,439.309998,441.029999,439.260010,441.019989,441.019989,43719200
1,2021-07-27,439.910004,439.940002,435.989990,439.010010,439.010010,67397100
2,2021-07-28,439.679993,440.299988,437.309998,438.829987,438.829987,52472400
3,2021-07-29,439.820007,441.799988,439.809998,440.649994,440.649994,47435300
4,2021-07-30,437.910004,440.059998,437.769989,438.510010,438.510010,68890600

## 關於 pandas 的 read_html()

In [ ]:
url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"

In [ ]:
dfs = pd.read_html(url)

In [ ]:
type(dfs)

list

In [ ]:
len(dfs)

2

In [ ]:
dfs[0]

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [ ]:
dfs[1]

                  Date  Added                                Removed  \
                  Date Ticker                       Security  Ticker
0      January 5, 2023    NaN                            NaN     VNO
1      January 4, 2023   GEHC                  GE HealthCare     NaN
2    December 22, 2022   STLD                 Steel Dynamics    ABMD
3    December 19, 2022   FSLR                    First Solar    FBHS
4    December 19, 2022    NaN                            NaN     MBC
..                 ...    ...                            ...     ...
315       June 9, 1999    WLP                      Wellpoint     HPH
316  December 11, 1998    FSR                        Firstar     LDW
317  December 11, 1998    CCL                 Carnival Corp.     GRN
318  December 11, 1998   CPWR                      Compuware     SUN
319      June 17, 1997    CCI  Countrywide Credit Industries     USL

                                     \
                           Security
0              Vornado Realty Trust
1                               NaN
2                           Abiomed
3    Fortune Brands Home & Security
4                       MasterBrand
..                              ...
315        Harnischfeger Industries
316                           Amoco
317                      General Re
318                      SunAmerica
319                          USLife

                                                Reason
                                                Reason
0                     Market capitalization change.[4]
1    S&P 500 constituent General Electric spun off ...
2    S&P 500 constituent Johnson & Johnson acquired...
3                     Market capitalization change.[7]
4                     Market capitalization change.[7]
..                                                 ...
315           Harnischfeger filed for bankruptcy.[241]
316            British Petroleum purchased Amoco.[242]
317      Berkshire Hathaway purchased General Re.[242]
318                     AIG purchased SunAmerica.[242]
319                          AIG acquired USLife.[243]

[320 rows x 6 columns]

# 剖析網頁原始碼

In [43]:
s = '''<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>範例索引</title>
</head>
<body>
    <div class="container">
        <div class="row my-5">
            <div class="col">
                <h1 class="bg-warning p-3 rounded">Web及爬蟲簡介課程範例</h1>

                <ul class="list-group">
                    <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_only.html">HTML 範例</a></li>
                    <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css.html">HTML + CSS 範例</a></li>
                    <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css_javascript.html">HTML + CSS + Javascript 範例</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example01.html">example01.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example02.html">example02.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example03.html">example03.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example04.html">example04.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example05.html">example05.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy.html">Classic HTML 範例 (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy_ajax.html">Ajax 範例 (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_get.html">HTTP GET 方法說明</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_post.html">HTTP POST 方法說明</a></li>
                </ul>         
            </div>
    
        </div>
    </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html> '''

In [45]:
type(s)

str

In [47]:
# 運用BeautifulSoup抓取HTML上的資料
from bs4 import BeautifulSoup

In [48]:
soup = BeautifulSoup(s)

In [49]:
soup.h1

In [50]:
soup.h1.text

'Web及爬蟲簡介課程範例'

In [51]:
soup.li

In [52]:
soup.select('li')

[<li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_only.html">HTML 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css.html">HTML + CSS 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css_javascript.html">HTML + CSS + Javascript 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example01.html">example01.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example02.html">example02.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example03.html">example03.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example04.html">example04.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example05.html">example05.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy.html">Classic HTML 範例 (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy_ajax.html">Ajax 範例 (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_get.html">HTTP GET 方法說明</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_post.html">HTTP POST 方法說明</a></li>]

In [53]:
soup.select('li')[0]

In [54]:
#第一筆資料的文字部分 .text
soup.select('li')[0].text

' HTML 範例'

In [55]:
soup.select('li')[1].text

' HTML + CSS 範例'

In [56]:
for x in soup.select('li'):
  print(x.text)

 HTML 範例
 HTML + CSS 範例
 HTML + CSS + Javascript 範例
 example01.html (爬蟲抓取用範例)
 example02.html (爬蟲抓取用範例)
 example03.html (爬蟲抓取用範例)
 example04.html (爬蟲抓取用範例)
 example05.html (爬蟲抓取用範例)
 Classic HTML 範例 (爬蟲抓取用範例)
 Ajax 範例 (爬蟲抓取用範例)
 HTTP GET 方法說明
 HTTP POST 方法說明

In [57]:
# enumerate() 函数: 用於將一個可重複歷史的數據對象(如列表、元組或字符串)組合為一個查詢列表，同時列出數據和數據下標
for i, x in enumerate(soup.select("li")):
  print(i, ":", x.text)

0 :  HTML 範例
1 :  HTML + CSS 範例
2 :  HTML + CSS + Javascript 範例
3 :  example01.html (爬蟲抓取用範例)
4 :  example02.html (爬蟲抓取用範例)
5 :  example03.html (爬蟲抓取用範例)
6 :  example04.html (爬蟲抓取用範例)
7 :  example05.html (爬蟲抓取用範例)
8 :  Classic HTML 範例 (爬蟲抓取用範例)
9 :  Ajax 範例 (爬蟲抓取用範例)
10 :  HTTP GET 方法說明
11 :  HTTP POST 方法說明

In [58]:
for i, x in enumerate(soup.select("li")):
  print(f"{i:2}", ":", x.text)

 0 :  HTML 範例
 1 :  HTML + CSS 範例
 2 :  HTML + CSS + Javascript 範例
 3 :  example01.html (爬蟲抓取用範例)
 4 :  example02.html (爬蟲抓取用範例)
 5 :  example03.html (爬蟲抓取用範例)
 6 :  example04.html (爬蟲抓取用範例)
 7 :  example05.html (爬蟲抓取用範例)
 8 :  Classic HTML 範例 (爬蟲抓取用範例)
 9 :  Ajax 範例 (爬蟲抓取用範例)
10 :  HTTP GET 方法說明
11 :  HTTP POST 方法說明

In [60]:
for i, x in enumerate(soup.select("li")):
  print(f"{i:2}: {x.text}")

 0:  HTML 範例
 1:  HTML + CSS 範例
 2:  HTML + CSS + Javascript 範例
 3:  example01.html (爬蟲抓取用範例)
 4:  example02.html (爬蟲抓取用範例)
 5:  example03.html (爬蟲抓取用範例)
 6:  example04.html (爬蟲抓取用範例)
 7:  example05.html (爬蟲抓取用範例)
 8:  Classic HTML 範例 (爬蟲抓取用範例)
 9:  Ajax 範例 (爬蟲抓取用範例)
10:  HTTP GET 方法說明
11:  HTTP POST 方法說明

# 關於字串格式化

In [64]:
x = 1
y = 1.23
z = True
w = "dog"

In [65]:
print(x, y, z, w)

1 1.23 True dog

In [66]:
print(x, y, z, w, sep="+")

1+1.23+True+dog

### f-string(3.5+)

In [85]:
# 使用f置換他的值
print(f"{x},{y},{z},{w}")

1,1.23,True,dog

In [90]:
print("{x},{y},{z},{w}")
print(f"{x:5},{y},{z},{w}")
print(f"{x:05},{y},{z},{w}")

{x},{y},{z},{w}
    1,1.23,True,dog
00001,1.23,True,dog

In [89]:
#f為浮點數
print("{x},{y},{z},{w}")
print(f"{x},{y:7},{z},{w}")
print(f"{x},{y:07.2f},{z},{w}")

{x},{y},{z},{w}
1,   1.23,True,dog
1,0001.23,True,dog

In [88]:
# >or<預設排左邊或右邊
print("{x},{y},{z},{w}")
print(f"{x},{y},{z},{w:10}")
print(f"{x},{y},{z},{w:>10}")

{x},{y},{z},{w}
1,1.23,True,dog
1,1.23,True,       dog

### string.format

In [83]:
print("{},{},{},{}".format(x,y,z,w))

1,1.23,True,dog

In [ ]:
print("{}, {}, {}".format(x, y, z, w))

1, 1.23, True

In [ ]:
print("{0}, {1}, {2}, {1}".format(x, y, z, w))

1, 1.23, True, 1.23

In [ ]:
print("{a}, {b}, {c}, {d}".format(a=x, b=y, c=z, d=w))

1, 1.23, True, dog

### 練習
https://stackoverflow.com/questions/53908134/what-is-20-format-string-meaning-in-python

In [91]:
popularity = [["Language", 2017, 2012, 2007, 2002, 1997, 1992, 1987], 
          ["Java", 1, 2, 1, 1, 15, 0, 0],
          ["C", 2, 1, 2, 2, 1, 1, 1],
          ["C++", 3, 3, 3, 3, 2, 2, 5],
          ["C#", 4, 4, 7, 13, 0, 0, 0],
          ["Python", 5, 7, 6, 11, 27, 0, 0],
          ["Visual Basic .NET", 6, 17, 0, 0, 0, 0, 0],
          ["PHP", 7, 6, 4, 5, 0, 0, 0],
          ["JavaScript", 8, 9, 8, 7, 23, 0, 0],
          ["Perl", 9, 8, 5, 4, 4, 10, 0]]

format_string = "{:<20}  {:>4}  {:>4}  {:>4}  {:>4}  {:>4}  {:>4}  {:>4}"

In [94]:
# 使用*號: unpack list
# 為的使資料排列整齊 向右排序
for i in popularity:
  print(format_string.format(*i))

Language              2017  2012  2007  2002  1997  1992  1987
Java                     1     2     1     1    15     0     0
C                        2     1     2     2     1     1     1
C++                      3     3     3     3     2     2     5
C#                       4     4     7    13     0     0     0
Python                   5     7     6    11    27     0     0
Visual Basic .NET        6    17     0     0     0     0     0
PHP                      7     6     4     5     0     0     0
JavaScript               8     9     8     7    23     0     0
Perl                     9     8     5     4     4    10     0

In [95]:
for i in popularity:
  print(format_string.format(i[0],i[1],i[2],i[3],i[4],i[5],i[6],i[7]))

Language              2017  2012  2007  2002  1997  1992  1987
Java                     1     2     1     1    15     0     0
C                        2     1     2     2     1     1     1
C++                      3     3     3     3     2     2     5
C#                       4     4     7    13     0     0     0
Python                   5     7     6    11    27     0     0
Visual Basic .NET        6    17     0     0     0     0     0
PHP                      7     6     4     5     0     0     0
JavaScript               8     9     8     7    23     0     0
Perl                     9     8     5     4     4    10     0

In [96]:
format_string = "{:<20}{:>6}{:>6}{:>6}{:>6}{:>6}{:>6}{:>6}"
for i in popularity:
  print(format_string.format(*i))

Language              2017  2012  2007  2002  1997  1992  1987
Java                     1     2     1     1    15     0     0
C                        2     1     2     2     1     1     1
C++                      3     3     3     3     2     2     5
C#                       4     4     7    13     0     0     0
Python                   5     7     6    11    27     0     0
Visual Basic .NET        6    17     0     0     0     0     0
PHP                      7     6     4     5     0     0     0
JavaScript               8     9     8     7    23     0     0
Perl                     9     8     5     4     4    10     0

## 使用CSS Selector 來剖析資料

https://www.w3schools.com/cssref/css_selectors.php

In [97]:
url = 'https://victorgau.github.io/khpy_web_intro/'

In [98]:
r= requests.get(url)

In [99]:
soup = BeautifulSoup(r.text)

In [100]:
soup.select('li')

[<li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_only.html">HTML 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css.html">HTML + CSS 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css_javascript.html">HTML + CSS + Javascript 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example01.html">example01.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example02.html">example02.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example03.html">example03.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example04.html">example04.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example05.html">example05.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy.html">Classic HTML 範例 (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy_ajax.html">Ajax 範例 (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_get.html">HTTP GET 方法說明</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_post.html">HTTP POST 方法說明</a></li>]

In [102]:
for i in soup.select('li'):
  print (i.text)

 HTML 範例
 HTML + CSS 範例
 HTML + CSS + Javascript 範例
 example01.html (爬蟲抓取用範例)
 example02.html (爬蟲抓取用範例)
 example03.html (爬蟲抓取用範例)
 example04.html (爬蟲抓取用範例)
 example05.html (爬蟲抓取用範例)
 Classic HTML 範例 (爬蟲抓取用範例)
 Ajax 範例 (爬蟲抓取用範例)
 HTTP GET 方法說明
 HTTP POST 方法說明

## 抓取露天拍賣資料
https://www.ruten.com.tw/category/0011

In [103]:
url = 'https://www.ruten.com.tw/category/0011'

In [106]:
headers= {'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36'}

In [107]:
r = requests.get(url, headers=headers)

In [108]:
'凸頭' in r .text

False

In [110]:
url = "https://rapi.ruten.com.tw/api/items/v2/list?gno=21203073884581,21203073855084,22243606777400,22244608865692,22302937500980,22306987134735,22308073518043,22134699516389,22238403273488,21945822081428,22115680698839&level=detail"

In [112]:
data = requests.get(url,headers=headers).json()

In [113]:
type(data)

dict

In [114]:
data.keys()

dict_keys(['status', 'data'])

In [115]:
type(data['data'])

list

In [116]:
data['data'][0].keys()

dict_keys(['id', 'class', 'name', 'num', 'images', 'currency', 'goods_price', 'goods_ori_price', 'goods_price_range', 'watch_num', 'sold_num', 'buyer_limit_num', 'stock_status', 'pre_order_ship_date', 'fast_ship', 'free_shipping', 'youtube_link', 'video_link', 'ncc_check_code', 'bsmi_code', 'goods_no', 'available', 'post_time', 'spec_type', 'deliver_way', 'mode', 'ship', 'platform', 'ctrl_rowid', 'user', 'user_credit', 'pay_way', 'title_style', 'selling_g_now_price', 'item_remaining_time', 'translation_type', 'translated_name', 'min_estimated_delivery_date', 'max_estimated_delivery_date', 'update_time', 'is_brand_seller', 'is_goods_from_oversea', 'location', 'condition', 'codition', 'accept_shiprule', 'user_class', 'close_no', 'description_url', 'spec_info', 'text2'])

In [117]:
len(data['data'])

11

In [120]:
for i in data['data']:
  print(f"{i['name']}:{i['goods_price']}")

凸頭 18650電池 可開發票 尖頭 鋰電池 充電電池 3000mAh 3.7v 高容量 手電筒 電風扇 Li-ion:8
18650充電電池 高容量 4000mAh 電池 鋰電池 充電電池 3.7V Li-ion 尖頭 凸頭 充電器 USB:39
三菱電機HC-BH023-S12   99新:39000
【秀秀】三菱PLC模塊 QJ72LP25-25 全新:33000
(辦公首選華碩I7商務桌機 獨家送微軟OFFICE)I7-11700時脈4.9G/16核心/16G/256G+1TB電腦:25900
WD西部數據NAS硬盤12T服務器硬盤12t網絡硬盤紅盤Pro WD121KFBX:50760
全新零刻 SEi8 i5-8279U 酷睿i5辦公電腦微型主機 Intel 辦公電腦 迷你電腦 小電腦 微電腦:23692
【樂意創客官方店】《附發票》AI機械手臂 樹莓派 4B Raspberry 視覺識別 ArmPi-FPV (豪華版本):22800
KINGHOPE KH-82膽機組合音響發燒hifi藍牙書架音箱功放CD/DVD套裝:38280
【24H出貨】(公司貨) iMICE X7 電競滑鼠 2400DPI 呼吸燈 電腦滑鼠 光學滑鼠 有線滑鼠 競技滑鼠:155
Renova Zero Pod 煙彈 空煙彈 空倉 空夾 空彈:199

## 抓取政府電子採購網資料

In [122]:
url = 'https://web.pcc.gov.tw/prkms/tender/common/bulletion/readBulletion?querySentence=%E9%9B%BB%E8%85%A6&tenderStatusType=%E6%8B%9B%E6%A8%99&sortCol=TENDER_NOTICE_DATE&timeRange=112&pageSize=10'

In [125]:
dfs = pd.read_html(url,encoding="utf-8")

In [128]:
dfs[4]

,項次,種類,機關名稱,標案案號標案名稱,招標公告日期,決標或無法決標公告,截止投標日期,公開閱覽/徵求日期,預告公告日期,功能選項
0,1,招標公告,臺北市政府工務局新建工程處,"11211 var hw = Geps3.CNS.pageCode2Img(""容積代金基金...",112/03/03,NaN,112/03/13,NaN,NaN,檢視
1,2,招標公告,交通部公路總局第五區養護工程處,"112010008 var hw = Geps3.CNS.pageCode2Img(""11...",112/03/03,NaN,112/03/21,NaN,NaN,檢視
2,3,招標公告,高雄市立民生醫院,"KMSH11023 var hw = Geps3.CNS.pageCode2Img(""電腦...",112/03/03,NaN,112/03/08,NaN,NaN,檢視
3,4,招標公告,國立臺灣大學醫學院附設醫院,"PA2200704 var hw = Geps3.CNS.pageCode2Img(""高劑...",112/03/03,NaN,112/03/10,NaN,NaN,檢視
4,5,招標公告,台灣電力股份有限公司,"0061100014 var hw = Geps3.CNS.pageCode2Img(""電...",112/03/03,NaN,112/03/20,NaN,NaN,檢視
5,6,招標公告,臺北市政府工務局,1120210S0036 var hw = Geps3.CNS.pageCode2Img(...,112/03/03,NaN,112/03/28,NaN,NaN,檢視
6,7,招標公告,交通部公路總局第二區養護工程處,"112-08007 var hw = Geps3.CNS.pageCode2Img(""第二...",112/03/03,NaN,112/03/21,NaN,NaN,檢視
7,8,招標公告,臺中市大里區立新國民小學,"1120302 var hw = Geps3.CNS.pageCode2Img(""112年...",112/03/03,NaN,112/03/07,NaN,NaN,檢視
8,9,招標公告,桃園市平鎮區公所,"1120109001 var hw = Geps3.CNS.pageCode2Img(""1...",112/03/03,NaN,112/03/09,NaN,NaN,檢視
9,10,招標公告,臺北大眾捷運股份有限公司,"C12B00276 var hw = Geps3.CNS.pageCode2Img(""錢幣...",112/03/03,NaN,112/03/16,NaN,NaN,檢視

In [129]:
dfs[4]['標案案號標案名稱'][0]

'11211  var hw = Geps3.CNS.pageCode2Img("容積代金基金採購私有公共設施保留地線上投標系統案");$("#1").html(hw);'

## 讀取政府資料開放平台實價登錄資料

e.g.:

In [132]:
url = 'https://data.kcg.gov.tw/dataset/d7bfc353-1617-42d8-a0e3-3cd2d99edb10/resource/20387f3d-6970-40a4-86f0-a5c33546e75d/download/111q2.csv'

In [133]:
df = pd.read_csv(url)

In [135]:
# .head() 可以顯示5筆資料（預設是5筆）
df.head()

,申報種類,交易標的種類,土地數量,建物數量,車位數量,幾房,幾廳,幾衛,有無隔間,建物型態,...,代表建號層次,車位總價格,車位總持分面積,代表地號或門牌,行政區,地段,代表地號,代表建號,特殊交易態樣說明,登記日期
0,買賣,土地,1,0,NaN,NaN,NaN,NaN,有,NaN,...,NaN,NaN,NaN,鹽府段 237-0 地號,鹽埕區,鹽府段,2370000.0,NaN,0401.未登記建物,1110401
1,買賣,房地(土地+建物)+車位,1,1,1.0,NaN,NaN,NaN,無,住宅大樓(11層含以上有電梯),...,二十八層;,"3,400,000",19.19,神農路87號二十八樓,鼓山區,龍中段,270000.0,6934000.0,NaN,1110401
2,買賣,房地(土地+建物),1,1,NaN,4.0,2.0,5.0,有,住宅大樓(11層含以上有電梯),...,十層;,NaN,NaN,美術北五街96號十樓,鼓山區,青海段,610000.0,14951000.0,NaN,1110401
3,買賣,房地(土地+建物)+車位,1,1,2.0,NaN,NaN,NaN,無,住宅大樓(11層含以上有電梯),...,三十層;,0,39.52,龍勝路289號三十樓,鼓山區,龍中段,1330000.0,6701000.0,0505.毛胚屋,1110401
4,買賣,房地(土地+建物)+車位,1,1,1.0,4.0,2.0,2.0,有,住宅大樓(11層含以上有電梯),...,九層;,0,15.96,文信路211號九樓,鼓山區,龍華段八小段,22800000.0,11033000.0,0102.傢俱設備費,1110401

### 將DataFrame轉存成不同格式

In [136]:
df.to_excel('實價登錄資料.xlsx')

In [139]:
df.head(100).to_html('實價登錄資料前一百筆資料.html')

In [140]:
df.head(100).to_json('實價登錄資料前一百筆資料.json')